
@media screen and (max-width: 768px) {
    .logo__img .logo__img--outside{
        display: block;
        justify-content: center;
    }
    .logo__img .logo__img__dow{
        display: none;
    }

    .header__up__search-bar{
        display: none;
    }
    

/* Slide */
    .slide{
        display: block;
    }
    .slide__menu{
        display: none;
    }

    .grid__column-8{
        width: auto;
        max-width: 768px;
    }

    .slide__slide{
        width: 722px;
        justify-content: center;
    }
/* Banner */
    .banner .banner__img{
        max-width: 768px;
        overflow: hidden;
    }

    .banner__img .img__banner{
        max-width: 100%; 
    }

    .img__banner__inside{
        max-height: 9rem;
        max-width: 100%;
        height: auto;
    }
/* Banner-long */
    .banner__img-longer{
        max-width: 659px;
        width: 100%;
    }

    .banner__img-longer{
        display: flex;
    }

    .img-longer{
        display: grid !important;
        grid-template-columns: repeat(2,minmax(0,1fr));
        background-color: #0098D2;
        border-radius: 2rem;
    }

    .loca-1{
        order: 1;
        border-top-left-radius: 2rem;
        border-bottom-left-radius:0;
        gap: 0;
        background-color: #0098D2;
    }
    .loca-2{
        order: 2;
        border-top-right-radius: 2rem;
    }
    .loca-3{
        order: 4;
        border-bottom-right-radius: 2rem;
    }
    .loca-4{
        order: 3;
        border-bottom-left-radius: 2rem;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
/* New products */
    .new-products{
        max-width: 768px;
        width: auto;
    }
    .new-products__table__body{
        display: grid;
        grid-template-columns: repeat(2,minmax(0,1fr))
    }

    .table__body__box{
        text-align: center;
        padding: 10px 10px 40px 10px;
    }

    .body__box__img{
        justify-content: center;
        width: 100%;
    }

    .table__img{
        max-height: 16rem;
    }

    .body__box__text{
        padding-top: 0.375rem;
    }
    .new__box__tag{
        overflow: scroll;
        ;
    }

    .box__tag__all{
        outline: none;
        width: 349px;
    }
}

@media screen and (max-width: 768px){
    body{
        max-width: 768px;
    }
    .header__up__menu-390{
        display: flex;
        justify-content: center;
    }
    .header__up__menu-390:active .header__up__menu-390__list,.header__up__menu-390:focus .header__up__menu-390__list,
    .header__up__menu-390:visited .header__up__menu-390__list{
        display: block;
    }

    .menu-390__bnt{
        align-items: center;
    }
    .menu__bnt{
        padding: 0.375rem;
        border-radius: 0.375rem;
        background: #0098D2;
        border: 0;
        color: #fff;
        height: 44px;
        width: 50px;
    }
    .icon__menu__bnt{
        width: auto;
    }
    .user__log-sig{
        display: flex;
        padding-right: 0;
    }
    .cart__text{
        display: none;
    }
    .header__up__menu-390__list{
        visibility: visible;
        opacity: 1;
        margin-left: 1.25rem;
        max-width: 300px;
        margin-top: 5rem;
        z-index: 10;
        top: 0;
        background-color: #fff;
        transform-origin: 0% 50%;
        /* animation: menu-390Toleft ease-in 0s; */
        display:none;
    }
    @keyframes menu-390Toleft {
        from{
            transform:  scale(0);
        }
        to{
            opacity: 0;
            transform: scale(1);
        }
    }
    .menu-390__list{
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
    }
    .menu-390__list__item{
        list-style: none;
        list-style-type: none;
        margin: 0;
    }
    .menu-390__link{
        align-items: center;
        border-bottom: 2px solid;
        border-color: #aed8e8;
        text-decoration: none;
        font-weight: 500;
        color: black;
    }
    .nav-bar__list{
        padding-left: 0px;
    }

    .list__link{
        font-size: 0.5rem; 
        padding-right: 5px;
        padding-left: 5px;
        border-right: 1px solid #fff;
    }

    .border__end{
        border-right: 0 ;
    }

    .slide__slide{
        width: 358px;
    }

    .banner__img-longer{
        max-width: 390px;
    }


    .img__longer{
        width: 180px;
    }
  
    .box__tag__text{
        width: 338px;

    }

    .news__more__box{
        position: absolute;
        bottom: 0;
        right: 0;
        padding-right: 2rem;
        padding-bottom: 1rem;
        background-color: transparent;
    }

    .news__more__text{
        width: 200px;
    }

    .deal__box__text{
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 2rem;
        padding: 0;
    }

    .input__bnt{
        font-size: 0.875rem;
        line-height: 1.5rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }

    .link__inside{
        font-size: 0.75rem;
        line-height: 1rem;
    }
}

/* Products */
@media screen and (max-width: 768px){
    .content__body__colum{
        padding-bottom: 2.5rem;
    }
    .content__body__b1{
        margin-right: 0 !important;
        grid-column: span 12/span 12;
        width: 100%;
    }
    .content__body__b2{
        margin-top: 1.75rem;
        grid-column: span 12/span 12;
    }
    .body__b2__header{
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
    }
    .body__b2__nav{
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
    .body__b2__nav__inside{
        padding: 0;
    }
    .nav__text{
        width: 100%;
    }
    .nav__bnt{
        margin-top: 0.625rem !important;
    }
    .body__b2__products{
        grid-template-columns: repeat(2,minmax(0,1fr));
    }
}

/* Infor-Product */
@media screen and (max-width: 768px){
    .link__box__inside{
        display: block;
    }

    .infor__box{
        display: block;
    }

    .box__img-mini{
        display: none;
    }

    .content__infor__box{
        padding-bottom: 4rem !important;
    }

    .infor__box__text{
        margin-left: 0 !important;
    }
    .infor__box__text__footer{
        display: block;
    }

    .footer__link__bnt{
        margin-right: 0 !important;
        width: 100% !important;
    }

    .footer__link__bnt2{
        margin-top: 20px !important;
        width: 100% !important;
    }

    .info-text__box__inside{
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }
}