.link__box__inside{
    justify-content: flex-end;
    align-items: center;
}

.text__link{
    text-decoration: inherit;
    color: #000;
}

.icon__text__link{
    padding-left: 10px;
    padding-right: 10px;
    color: #00ADEF;
}

.content__body__colum{
    margin-top: 30px;
    margin-bottom: 8rem;
}

/* Box right */
.content__body__b1{
    margin-right: 30px;
}
.box__header{
    color: #0069AA;
    font-weight: 900;
    margin: 0;
    text-align: center;
}
    /* Box1 */
    .b1__box1{
        background-color: #EDF4F6;
        padding: 1.25rem;
        border-radius: 0.75rem;
    }


    .box1__text{
        opacity: 0.3;
        font-size: 0.875rem;
        line-height: 1.25rem;
        padding-bottom: 0.5rem;
        padding-top: 0.875rem;
        margin: 0;
    }

    .text2__input__box{
        outline: 2px solid transparent;
        outline-offset: 2px;
        padding-top: 0.625rem;
        padding-bottom: 0.625rem;
        border-radius: 0.375rem;
        border: 0;
    }

    .text__input__inside{
        margin-right: 0.625rem;
        align-items: center;
        height: 100%;
        top: 0;
        right: 0;
    }

    .inside__text{
        opacity: 0.3;
        font-size: 0.875rem;
        line-height: 1.25rem;
    }
    
    .box1__bnt{
        justify-content: center;
        margin-top: 1.25rem;
    }

    .box1__bnt__inside{
        color: #fff;
        font-weight: 500;
        background-color: #00ADEF;
        border-radius: 9999px;
        border: 0;
        cursor: pointer;
    }

    /* Box2 */
    .b1__box2{
        background-color: #EDF4F6;
        padding: 1.25rem;
        border-radius: 0.75rem;
        margin-top: 30px;
    }

    .box2__checkmark{

        padding-left: 2rem;
        margin-bottom: 0.875rem;
        margin-top: 0.875rem;
    }
    
    .box2__checkmark__text{
        justify-content: space-between;
        font-weight: 400;
        margin: 0;
    }

    .checkmark{
        position: absolute;
        left: 0;
        height: 22px;
        width: 22px;
        border-radius: 4px;
        border: 1px solid #c9cdd1;
        background: #fff;
        
    }

    .box2__bnt{
        justify-content: center;
        margin-top: 1.5rem;
    }

    .box2__bnt__inside{
        line-height: 0.75rem;
        color: #00ADEF;
        cursor: pointer;
        border: 0;
    }
/* Box left */
    
    /* Header*/
    .body__b2__header{
        text-align: center;
        border-top-left-radius: 0.75rem;
        border-top-right-radius: 0.75rem;
        background: #EDF4F6;
    }

    .body__b2__header__text{
        margin: 0;
        color: #0069AA;
        font-weight: 700;

    }

    /* Navbar*/
    .body__b2__nav{
        background: #00ADEF;  
    }

    .body__b2__nav__inside{
        flex-wrap: wrap;
    }

    .nav__text{
        margin-right: 1rem !important;
        margin: 0;
    }

    .nav__bnt{
        margin-top: 0;
        font-size: 0.75rem;
        line-height: 1rem;
        border-radius: 9999px;
        color: #fff;
        background: #0098D2;
        margin-right: 0.625rem;
        border: 0;
    }

    /* Products*/
    .body__b2__products{
        border-bottom: 1px solid #eaeaea;
        border-right: 1px solid #eaeaea;
    }

    .b2__products__all{
        border-top: 1px solid #eaeaea;
        border-left: 1px solid #eaeaea;
        text-decoration: none;
    }

    .b2__products{
        text-align: center;
        padding: 0.625rem;
        padding-bottom: 1.25rem;
        background-color: #fff;
    }

    .b2__products__box{
        justify-content: center;
    }

    .products__img{
        max-height: 13rem;
        width: 100%;
        height: auto;
    }

    .products__text{
        font-weight: 600;
        padding-top: 0.375rem;
        margin: 0;
        color: #000;
    }

    .products__price{
        line-height: 1.5rem;
        font-weight: 600;
        font-size: 1.125rem;
        padding-top: 0.25rem;
        color: #00ADEF;
    }

    /* Footer*/
    .body__b2__footer{
        justify-content: center;
        border-bottom-left-radius: 0.75rem;
        border-bottom-right-radius: 0.75rem;
        background: #EDF4F6;
    }

    .body__b2__footer__box{
        margin-top: 1.25rem;
    }