:root{
    --white-color:#FFF;
    --blue-color:#00ADEF;
    --blues-color:#0098D2;
    --navy-blue-color:#0069AA;
    --num-coler:#cdcdcd;
}

body{
    font-family: Nunito;
    line-height: inherit;
    margin: 0;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.dis_flex{
    display: flex;
}

.pos-rela{
    position: relative;
}

.algin_center{
    align-items: center;
}

.w-full{
    width: 100%;
}

.box{
    box-sizing: border-box;
    border: none;
    background-color: transparent;
}

.img{
    height: auto;
    max-width: 100%;
}

.text{
    color: #FFF;
    font-size: 100%;
    font-size: 0.86rem;
    line-height: 1.25rem;
}

.text-nm{
    font-size: 0.86rem;
    line-height: 1.25rem;
}


.text-tran{
    text-transform: uppercase;
}

.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-w{
    width: 100%;
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.grid__app{
    padding-top: 30px;
}

.grid__column-2{
    padding-left: 12px;
    padding-right: 12px;
    width: 16.66%;
}

.grid__column-4{
    padding-left: 12px;
    padding-right: 6px;
    width: 25%;
}



.grid__column-8{
    padding-left: 6px;
    padding-right: 1rem;
    width: 75%;
}

.grid-clos-6{
    grid-template-columns: repeat(6,minmax(0,1fr));
}

.grid__column-2-4{
    padding-left: 6px;
    padding-right: 6px;
    width: 20%;
}

.grid__column-10{
    padding-left: 12px;
    padding-right: 12px;
    width: 83.34%;   
}

.list{
    font-weight: 600;
}

.pad-1{
    padding: 1rem;
}

.pad-1-lr{
    padding-left: 1rem;
    padding-right: 1rem;
}